.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    height: 58px;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    color: #212529;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder,
.select2-container--default .select2-selection--multiple .select2-search__field::placeholder {
    color: #212529 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    right: 10px;
}

.select2-container--default.select2-container--focus
.select2-selection--single {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    margin-bottom: 0;
    display: flex;
    gap: 4px;
    align-items: center;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin: 0;
}

.select2-container--default .select2-selection--multiple .select2-search__field {
    margin-top: 0;
    height: 23px;
}